{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% block title %}增加会员产品关注有效期{% endblock %}
{% block body %}

<form id="expiryday-set-form" class="form-horizontal" method="post" action="{{ path('product_set_expiryday', { productId:product.id, userId:user.id }) }}">
  {% if product.status == 'published' %}
    <div class="row form-group">
      <div class="col-md-2 control-label">
        <label for="product-title">产品标题</label>
      </div>
      <div class="col-md-7 controls">
        <div style="margin-top: 7px;">
          {{ product.name }}
          </div>
      </div>
    </div>

  	<div class="row form-group">
      <div class="col-md-2 control-label">
        <label for="student-userName">会员帐号</label>
      </div>
      <div class="col-md-7 controls">
        <div style="margin-top: 7px;">
          {{ user.userName }}
          </div>
    	</div>
    </div>

    <div class="row form-group">
      <div class="col-md-2 control-label">
        <label for="set-more-expiryday">增加天数</label>
      </div>
      <div class="col-md-7 controls">
        <input type="text" id="set-more-expiryday" name="expiryDay" value="0" class="form-control width-input">
      </div>
    </div>
  {% else %}
    <div class="empty">{{dict_text('productStatus', product.status)}}产品不能增加会员有效期，请产品发布后再增加。</div>
  {% endif %}

  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

</form>

{% endblock %}

{% block footer %}
  {% if product.status == 'published' %}
    <button type="submit" class="btn btn-primary pull-right" data-toggle="form-submit" data-target="#expiryday-set-form">保存</button>
  {% endif %}
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">取消</button>
  <script>app.load('product-manage/set-expiryday-modal')</script>
{% endblock %}
