{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modal_class = 'modal-lg' %}

{% set hide_footer = true %}

{% block title %}产品信息{% endblock %}

{% block body %}

<dl class="product-modal-infos">
  <dt>产品简介</dt>
  <dd>{{ product.jianjie|raw }}</dd>

  {% if category %}
  <dt>产品分类标签</dt>
  <dd>
    <a href="{{ path('product_explore', {category:category.code|default(category.id)}) }}" target="_blank">{{ category.name }}</a>
  </dd>
  {% endif %}

  {% if product.tags %}
    <dt>产品热词</dt>
    <dd>
      <ul class="list-inline">
        {% for tag in tags %}
          <li>{{ tag.name }}</li>
        {% else %}
          <li>暂无产品热词</li>
        {% endfor %}
      </ul>
    </dd>
  {% endif %}

 
 {% if productpictures %}
 <dt>产品图片</dt>
 <dd>
 <ul>
	{% for productpicture in productpictures %}
	<img alt="" src="/attach/productpic/{{ productpicture.path }}" class="img-responsive" />
	{% endfor %}
 </ul>
 </dd>
 {% endif %}

 {% if product.specinfo %}
 <dt>产品规格</dt>
 <dd>
 	<ul>
    	{{ product.specinfo|raw }}
  	</ul>
 </dd>
 {% endif %}

  {% if product.efficacyinfo %}
    <dt>产品功能</dt>
    <dd>
      <ul>
        {% for goal in product.efficacyinfo %}
          <li>{{ goal|raw }}</li>
        {% endfor %}
      </ul>
    </dd>
  {% endif %}

  {% if product.yaodian %}
    <dt>创新要点</dt>
    <dd>
      <ul>
        {% for audience in product.yaodian %}
          <li>{{ audience|raw }}</li>
        {% endfor %}
      </ul>
    </dd>
  {% endif %}
  
  {% if product.remark %}
    <dt>补充说明</dt>
    <dd>
      <ul>
     {{ product.remark|raw }}
      </ul>
    </dd>
  {% endif %}
  
  {% if product.xgzx %}
    <dt>产品资讯</dt>
    <dd>
      <ul>
     {{ product.xgzx|raw }}
      </ul>
    </dd>
  {% endif %}
</dl>
{% endblock %}