<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">关注进度</h3></div>
  <div class="panel-body">
    <div class="progress">
      <div class="progress-bar" style="width: {{ progress.percent }};"></div>
    </div>
    <div class="clearfix">
      {% if progress.percent == '100%' %}
        <button class="btn btn-default btn-sm disabled pull-right">您已经看完了这个产品使用说明书了！</button>
      {% else %}
        {% if nextLearnLesson %}
          <a class="btn btn-primary btn-sm pull-right" id="next-learn-btn" href="{{ path('product_learn', {id:product.id}) }}#lesson/{{nextLearnLesson.id}}" title="继续关注：{{ nextLearnLesson.title }}">继续关注</a>
        {% endif %}
      {% endif %}

      <span class="text-muted">已看: <strong class="text-success">{{ progress.number }}</strong> / <strong>{{ progress.total }}</strong></span>
      {% if not member.deadline == 0 %}
        <br>
        <span class="text-muted">有效期： <strong class="text-success" title="从 {{ member.createdTime|date('Y-m-d H:i') }} 到 {{ member.deadline|date('Y-m-d H:i') }}">还有{{ member.deadline|remain_time }}</strong></span>
      {% endif %}

    </div>
  </div>
</div>