{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}{{ product.name }} - {{ parent() }}{% endblock %}

{%- block keywords -%}
  {% if category %}{{ category.name }}{% endif %}
  {% for tag in tags %}{{ tag.name }}{% endfor %}
  {{ product.name }} {{ setting('site.name') }}
{%- endblock -%}
{% block description %}{{ product.specinfo|plain_text(150)|raw }}{% endblock %}


{% set script_controller = 'product/show' %}

{% block content %}
  
{#{% if member and member.state %}
<div class="row">
  <div class="col-md-12">
    <div class="mtl alert alert-warning">
      您的退款申请已提交，请等待管理员的处理，退款期间将不能关注产品。
      <button class="btn btn-warning btn-sm cancel-refund" data-url="{{ path('product_order_cancel_refund', {id:product.id}) }}">取消退款，继续关注！</button>
    </div>
  </div>
</div>
{% endif %}#}

<div class="es-row-wrap container-gap product-cover">
	              
<!--移动端不显示请用hidden-xs-->
  <div class="row row-12 product-cover-heading">
	<div class="col-sm-12">
	  <ul class="product-wide-list">
  		<li class="product-item clearfix">
   		 <!--<a class="show-product-productpictures-pane" href="javascript:">-->
		 <a class="product-picture-link" href="{{ path('product_show', {id:product.id}) }}">
	  		{% if product.typeimg != '' %}
            	<img class="product-picture" src="/attach/productpic/{{ product.typeimg }}" alt="{{ product.name }}" />
          	{% else %}
            	<img class="product-picture" src="{{ file_path(product.largePicture, 'product-large.png') }}" alt="{{ product.name }}">
          	{% endif %}
		 </a>
		 </li>
	</ul>
    </div>
    <div class="col-sm-12 info">
      {% if is_granted('ROLE_ADMIN') %}
      <div class="btn-group pull-right">
        <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"> <i class="glyphicon glyphicon-cog"></i>
        </button>
        <ul class="dropdown-menu pull-right">
          <li>
            <a href="{{ path('product_manage', {id:product.id}) }}">产品管理</a>
          </li>
        </ul>
      </div>
      {% endif %}
	  <p><h1 class="title">{{ product.name }}</h1></p>
      {#<div class="subtitle">{{ product.jianjie|raw }}</div>#}
      <div class="stats">
        {#<p>
          价　格：
          {% if product.price > 0 %}
            <span class="money-num">{{ product.price }}</span>
            <span class="money-text">元</span>
          {% else %}
            <span class="money-num" style="font-size:16px;">免费</span>
          {% endif %}
        </p>#}
        <p>
          评　价：
          {#<span class="stars-{{ (product.rating)|number_format }}">&nbsp;</span>
          <span class="rating-num">{{ product.rating|number_format(1) }}分</span>#}
          <a class="rating-user-num show-product-review-pane" href="javascript:">({{ product.ratingNum }}人评价)</a>
        </p>
        {% if product.showStudentNumType == 'opened' %}
        <p>
          关注人数：
          <span class="member-num">{{ product.studentNum }}</span>
          <span class="member-text">人</span>
        </p>
        {% endif %}
        {% if not product.expiryDay == 0 %}
        <p>
          有效期：
          <span class="member-num">{{ product.expiryDay }}</span>
          <span class="member-text">天</span>
        </p>
        {% endif %}
        <p>
          {% if product.state=='2' %}  
            状　态： <span class="label label-danger ">审核不通过</span>
          {% elseif product.state=='0' %}
            状　态： <span class="label label-warning ">等待审核</span>
          {% endif %}          
        </p>
      </div>
      <div class="actions clearfix">
        <div class="pull-left">
          {% if product.state != '1' %}
            <a class="btn btn-primary disabled" href="javascript:">{#{% if product.price > 0 %}关注{% else %}关注{% endif %}#}关注</a>
          {% else %}
            <a class="btn btn-primary btn-danger" id="product-buy-btn" href="#modal" data-toggle="modal" data-url="{{ path('product_buy', {id:product.id}) }}">{% if product.price > 0 %}关注{% else %}关注{% endif %}</a>
			
			{#button type="button" onclick="authBtnClickHandler()" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown">登录授权</button>
			<button type="button" onclick="hasAuthBtnClickHandler()" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown">是否授权</button>
			<button type="button" onclick="userInfoBtnClickHandler()" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown">获取用户信息</button>
			<button type="button" onclick="shareContentClickHandler()" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown">分享内容</button>
			<button type="button" onclick="oneKeyShareContentClickHandler()" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown">一键分享内容</button>
			<button type="button" onclick="showShareMenuClickHandler()" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown">显示分享菜单</button>
			<button type="button" onclick="showShareViewClickHandler()" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown">显示分享界面</button>#}
			<button type="button" onclick="showShareMenuClickHandler()" class="btn btn-primary btn-danger" data-toggle="dropdown">分享</button>

            {% if productMemberLevel %}
              {% if checkMemberLevelResult == 'not_login' %}
                <a href="{{ path('login') }}" class="btn btn-warning mll">{{ productMemberLevel.name }}，查看产品</a>  
              {% elseif checkMemberLevelResult in ['not_member', 'member_expired'] %}
                <a href="{{ path('vip_buy') }}" class="btn btn-warning mll">{{ productMemberLevel.name }}，查看产品</a>  
              {% elseif checkMemberLevelResult == 'level_low' %}
                <a href="{{ path('vip_upgrade', {level:productMemberLevel.id}) }}" class="btn btn-warning mll">{{ productMemberLevel.name }}，查看产品</a>
              {% elseif checkMemberLevelResult == 'ok' %}
                <a href="javascript:;" data-url="{{ path('product_become_use_member', {id:product.id}) }}" class="btn btn-warning mll become-use-member-btn">{{ productMemberLevel.name }}，查看产品</a>
              {% endif %}

            {% endif %}
          {% endif %}
        </div>
        <div class="pull-right">
          <a class="btn btn-link" href="#" style="display:none;"> <i class="glyphicon glyphicon-play-circle"></i>
            查看产品
          </a>
          <a class="btn btn-link" id="favorite-btn" href="javascript:" data-url="{{ path('product_favorite', {id:product.id}) }}" {% if hasFavorited %}style="display:none;"{% endif %}>
            <i class="glyphicon glyphicon-bookmark"></i>
            收藏产品
          </a>
          <a class="btn btn-link" id="unfavorite-btn" href="javascript:" data-url="{{ path('product_unfavorite', {id:product.id}) }}" {% if not hasFavorited %}style="display:none;"{% endif %}>
            <i class="glyphicon glyphicon-bookmark"></i>
            已收藏
          </a>
          <a class="btn btn-link" href="#" style="display:none;">
            <i class="glyphicon glyphicon-gift"></i>
            查看产品
          </a>
        </div>
      </div>

    </div>
  </div>

  <div class="row row-12">
    <div class="col-md-12">

      <div class="panel panel-default">
        <div class="panel-body">
          <ul class="nav nav-tabs mbl clearfix" id="product-nav-tabs">
            <li class="active">
              <a href="#product-audience-pane" data-toggle="tab">看点</a>
            </li>

			{% if product.jianjie %}
            <li>
              <a href="#product-jianjie-pane" data-toggle="tab">介绍</a>
            </li>
            {% endif %}
			
			{#{% if product.specinfo %}
            <li>
              <a href="#product-specinfo-pane" data-toggle="tab">商城</a>
            </li>
            {% endif %}#}
			
			<li>
              <a id="product-review-tab" href="#product-review-pane" data-toggle="tab" data-url="{{ path('product_review_list', {id:product.id, previewAs:previewAs}) }}">
                评价
                {#<span class="badge">{{ product.ratingNum }}</span>#}
              </a>
            </li>
			
			{#{% if productpictures %}
            <li>
              <a id="product-productpictures-tab" href="#product-productpictures-pane" data-toggle="tab">其他</a>
            </li>
            {% endif %}#}
			
			{% if product.xgzx %}
            <li>
              <a href="#product-xgzx-pane" data-toggle="tab">资讯</a>
            </li>
            {% endif %}
			
            {% if product.efficacyinfo %}
            <li>
              <a href="#product-goal-pane" data-toggle="tab">功能</a>
            </li>
            {% endif %}
			
			{% if product.remark or productpictures %}
            <li>
              <a href="#product-remark-pane" data-toggle="tab">其它</a>
            </li>
            {% endif %}
		
			
          </ul>

          <div class="tab-content">
			
            <div class="tab-pane active" id="product-audience-pane" class="text-left">
              {% if product.yaodian %}
                <ul class="media-list">
                {% for audience in product.yaodian %}
                <li class="media">
                  <div class="pull-left">
                    <span class="glyphicon glyphicon-user media-object"></span>
                  </div>
                  <div class="media-body">{{ audience|raw }}</div>
                </li>
                {% endfor %}
              </ul>
              {% else %}
              <span class="text-muted">还没有产品看点信息...</span>
              {% endif %}
			  
              {% if tags %}
                <div class="mtm">
                <span class="text-muted">产品热词：</span>{% for tag in tags %}
                <a href="{{ path('tag_show', {name:tag.name}) }}" class="mrs">{{ tag.name }}</a>
                {% endfor %}
                </div>
              {% endif %}
            </div>
            
			<div class="tab-pane" id="product-jianjie-pane" class="text-left">
              {% if product.jianjie %}
                {{ product.jianjie|raw }}
              {% else %}
              <span class="text-muted">还没有产品介绍信息...</span>
              {% endif %}
            </div>
			
			{#<div class="tab-pane" id="product-specinfo-pane" class="text-left">
              {% if product.specinfo %}
                {{ product.specinfo|raw }}
              {% else %}
              <span class="text-muted">还没有产品商城信息...</span>
              {% endif %}
            </div>#}
			
			<div class="tab-pane" id="product-review-pane">正在载入产品评价数据...</div>
			
			{#<div class="tab-pane" id="product-productpictures-pane" class="text-left">
              {% if productpictures %}
					{% for productpicture in productpictures %}
						<div class="item">
							<img alt="" src="/attach/productpic/{{ productpicture.path }}" class="img-responsive" />
						</div>
					{% endfor %}
              {% else %}
              <span class="text-muted">还没有产品图片...</span>
              {% endif %}
            </div>#}
			
			<div class="tab-pane" id="product-xgzx-pane" class="text-left">
              {% if product.xgzx %}
                {{ product.xgzx|raw }}
              {% else %}
              <span class="text-muted">还没有产品相关资讯...</span>
              {% endif %}
            </div>
			
            {% if product.efficacyinfo %}
            <div class="tab-pane" id="product-goal-pane">
              <ul class="media-list">
                {% for goal in product.efficacyinfo  %}
                <li class="media">
                  <div class="pull-left">
                    <span class="glyphicon glyphicon-flag media-object"></span>
                  </div>
                  <div class="media-body">{{ goal|raw }}</div>
                </li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
			
			<div class="tab-pane" id="product-remark-pane" class="text-left">
              {% if product.remark or productpictures %}
                {{ product.remark|raw }}
				{% for productpicture in productpictures %}
					<div class="item">
						<img alt="" src="/attach/productpic/{{ productpicture.path }}" class="img-responsive" />
					</div>
				{% endfor %}
              {% else %}
			  		<span class="text-muted">还没有产品其它信息...</span>
			  {% endif %}
            </div>
			
          </div>
        </div>
      </div>
      {#{% embed "TopxiaWebBundle:Bootstrap:panel.html.twig" %}
      {% block heading %}
      <h3 class="panel-title">产品补充说明</h3>
      {% endblock %}
        {% block body %}

          {% include 'TopxiaWebBundle:ProductLesson:item-list-multi.html.twig' with {experience: true} %}

        {% endblock %}
      {% endembed %}#}

      {#{{ render(controller('TopxiaWebBundle:ProductReview:latestBlock',{product:product})) }}

      {% if setting('product.relatedProducts') == 1 %}
        {{ render(controller('TopxiaWebBundle:Product:relatedProductsBlock',{product:product})) }}
      {% endif %}#}
    </div>
	
    {#<div class="col-md-4">
      {{ render(controller('TopxiaWebBundle:Product:teachersBlock',{product:product})) }}

      {{ render(controller('TopxiaWebBundle:ProductThread:latestBlock',{product:product})) }}

      {{ render(controller('TopxiaWebBundle:Product:latestMembersBlock',{product:product})) }}

      {{ render(controller('TopxiaWebBundle:ProductAnnouncement:block',{product:product})) }}

    </div>#}
  </div>

</div>

</div>
{% endblock %}

{% block bottom %}
<div id="product-modal" class="modal"></div>
<div id="product-edit-modal" class="modal"></div>
{% endblock %}