{% extends 'TopxiaWebBundle:Default:layout.html.twig' %}

{% block content %}

<div class="es-row-wrap container-gap">

  {% if blocks.home_top_banner %}
    <div class="homepage-feature homepage-feature-slides mbl">
      <div class="cycle-pager"></div>
      {{ blocks.home_top_banner|raw }}
    </div>
  {% endif %}

	<ul class="homepage-category-nav">
      {% for category in categories %}
        <li><a href="{{ path('product_explore', {category:category.sn|default(category.id)}) }}"><span class="label label-success ">{{ category.name }}</span></a></li>
      {% endfor %}
        <li><a href="{{ path('product_explore') }}"><span class="label label-success ">全部产品</span></a></li>
    </ul>

  <div class="row row-12">
	
	<div class="col-md-12">
      <div class="es-box">
        <div class="es-box-heading"><h2>推荐产品</h2></div>
        <div class="es-box-body">
          {% if products %}
            {{ render(controller('TopxiaWebBundle:Product:productsBlock1', {products:products, view: 'list1'})) }}
            {% if products|length >= 12 %}
              <a class="btn btn-default btn-lg btn-block" href="{{ path('product_explore') }}">更多产品</a>
            {% endif %}
          {% else %}
            <div class="empty">还没有发布产品</div>
          {% endif %}
        </div>
      </div>
    </div>
	
    <div class="col-md-12">
      <div class="es-box">
        <div class="es-box-heading"><h2>最新产品</h2></div>
        <div class="es-box-body">
          {% if products %}
            {{ render(controller('TopxiaWebBundle:Product:productsBlock2', {products:products, view: 'list2'})) }}
            {% if products|length >= 12 %}
              <a class="btn btn-default btn-lg btn-block" href="{{ path('product_explore') }}">更多产品</a>
            {% endif %}
          {% else %}
            <div class="empty">还没有发布产品</div>
          {% endif %}
        </div>
      </div>
    </div>
	
	<div class="col-md-12">
      <div class="es-box">
        <div class="es-box-heading"><h2>产品排行</h2></div>
        <div class="es-box-body">
          {% if products %}
            {{ render(controller('TopxiaWebBundle:Product:productsBlock3', {products:products, view: 'list3'})) }}
            {% if products|length >= 12 %}
              <a class="btn btn-default btn-lg btn-block" href="{{ path('product_explore') }}">更多产品</a>
            {% endif %}
          {% else %}
            <div class="empty">还没有发布产品</div>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-md-12">
	  {{ render(controller('TopxiaWebBundle:Default:promotedTeacherBlock')) }}
      {{ render(controller('TopxiaWebBundle:Default:latestReviewsBlock',{number:5})) }}
    </div>

  </div>

  <div class="row"><div class="col-md-12"></div></div>

</div>
{% endblock %}