{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% set typeTitles = {info:'享客应用提示信息!', warning:'享客应用警告信息!', error: '享客应用错误提示!'} %}

{% set title = title|default(typeTitles[type]) %}

{% block title %}{{ title }} - {{ parent() }}{% endblock %}
{% block head_scripts %}{{ script|default('')|raw }}{% endblock %}
{% set script_controller = 'default/message' %}

{% block content %}

<div id="page-message-container" data-goto="{{ goto }}" data-duration={{ duration }}>
  <div class="page-message-panel" style="min-height:400px;">
    <div class="page-message-heading">
      <h2 class="page-message-title">{{ title }}</h2>
    </div>
    <div class="page-message-body">{{ message|default('') }}</div>
  </div>
</div>
{% endblock %}