{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}
<!DOCTYPE html>
{#<!--[if lt IE 6]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class=""> <!--<![endif]-->#}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} {{ setting('site.name', 'MeBUS') }} - {% if setting('site.slogan') %}{{ setting('site.slogan') }} -{% endif %} Powered by Can2DO{% endblock %}</title>
  <meta name="keywords" content="{% block keywords %}{% endblock %}" />
  <meta name="description" content="{% block description %}{% endblock %}" />
  <meta content="{{ csrf_token('site') }}" name="csrf-token" />
  {{ setting('login_bind.verify_code', '')|raw }}
  {% if setting('site.favicon') %}
  <link href="{{ asset(setting('site.favicon')) }}" rel="shortcut icon" />
  {% endif %}
  {% block stylesheets %}
    <link href="{{ asset('assets/libs/gallery2/bootstrap/3.1.1/css/bootstrap.css') }}" rel="stylesheet" />
    <link rel="stylesheet" media="screen" href="{{ asset('assets/css/common.css') }}" />
    <link rel="stylesheet" media="screen" href="{{ asset('assets/css/bootstrap-extends.css') }}" />
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/topxiaweb/css/web.css') }}" />
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/topxiaweb/css/member.css') }}" />

    <link href="{{ asset('bundles/topxiaweb/css/web2.css') }}" rel="stylesheet" />
  
  {#<!--[if lt IE 8]>
    <link href="{{ asset('assets/css/oldie.css') }}" rel="stylesheet">
    <![endif]-->#}
  {% endblock %}
  {#<!--[if lt IE 9]>
    <script src="{{ asset('assets/libs/html5shiv.js') }}"></script>
  <![endif]-->

  <!--[if IE 8]>
    <script src="{{ asset('assets/libs/respond.min.js') }}"></script>
  <![endif]-->#}

  {% block head_scripts %}{% endblock %}

</head>
<body {% if bodyClass|default('') %}class="{{ bodyClass }}"{% endif %}>

{% block body %}
<div class="navbar navbar-inverse site-navbar navbar-fixed-top table-responsive" id="site-navbar" width="100%">
    <div class="container" width="100%">
      <div class="container-gap" width="100%">
	  	
		{#<div class="navbar-header" width="100%">#}
		 <table width="100%">
		 <tr width="100%">
		  <td><a class="navbar-brand-logo" href="{{ path('my') }}"><img src="{{ asset('bundles/topxiaweb/img/my.png?1.0.0') }}"/></a></td>
		  <td><a class="navbar-brand-logo" href="{{ path('homepage') }}recommend"><img src="{{ asset('bundles/topxiaweb/img/tuijian.png?1.0.0') }}"/></a></td>
		  <td><a href="#" class="navbar-brand-logo" data-toggle="dropdown"><img src="{{ asset('bundles/topxiaweb/img/types.png?1.0.0') }}"/></a>
			<ul class="dropdown-menu">
			<li><a href="{{ path('homepage') }}recommend"><span class="label label-success ">推荐产品</span></a></li>
			<li><a href="{{ path('homepage') }}new"><span class="label label-success ">最新产品</span></a></li>
			<li><a href="{{ path('homepage') }}hot"><span class="label label-success ">产品排行</span></a></li>
			{% for category in categories %}
			<li><a href="{{ path('product_explore', {category:category.code|default(category.id)}) }}"><span class="label label-success ">{{ category.name }}</span></a></li>
      			{% endfor %}
			</ul>
		  </td>
		  <td><a class="navbar-brand-logo" href="{{ path('search') }}"><img src="{{ asset('bundles/topxiaweb/img/search.png?1.0.0') }}"/></a></td>
		  <td><a class="navbar-brand-logo" href="{{ path('settings') }}"><img src="{{ asset('bundles/topxiaweb/img/setting.png?1.0.0') }}"/></a></td>
		  
		  <td><a class="navbar-brand-logo" href="{{ path('search') }}"><img src="{{ asset('bundles/topxiaweb/img/search.png?1.0.0') }}"/></a></td>
		  <td><a class="navbar-brand-logo" href="{{ path('settings') }}"><img src="{{ asset('bundles/topxiaweb/img/setting.png?1.0.0') }}"/></a></td>
		  </tr>
		  </table>
		{#</div>#}

      </div>
    </div>
  </div>

  <div id="content-container" class="container">
    {% if app.user and app.user.setup == 0 and (hideSetupHint is not defined or hideSetupHint != true) %}
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        为了帐号的安全，以及更好的使用体验，请设置您的Email地址。
        <a href="{{ path('settings_setup') }}">现在就去设置</a>
      </div>
    {% endif %}
    {% block content %}{% endblock %}
  </div>{#<!-- /container -->#}

  {% block bottom %}{% endblock %}

  <div id="login-modal" class="modal" data-url="{{ path('login_ajax') }}"></div>
  <div id="modal" class="modal"></div>
{% endblock %}

{% include 'TopxiaWebBundle::script_boot.html.twig' with {script_main: asset('bundles/topxiaweb/js/app.js')} %}


<div class="navbar navbar-inverse site-navbar1 navbar-fixed-bottom table-responsive" id="site-navbar" width="100%">
    <div class="container" width="100%">
      <div class="container-gap" width="100%">
	  	
	
{#<div class="table-responsive  navbar-fixed-bottom">#}
		 <table width="100%">
		 <tr width="100%">
		  <td><a class="navbar-brand-logo" href="{{ path('teacher') }}"><img src="{{ asset('bundles/topxiaweb/img/shareer.png?1.0.0') }}"/></a></td>
		  <td><a class="navbar-brand-logo" href="{{ path('homepage') }}"><img src="{{ asset('bundles/topxiaweb/img/camer.png?1.0.0') }}"/></a></td>
		  <td><a class="navbar-brand-logo" href="{{ path('tag') }}"><img src="{{ asset('bundles/topxiaweb/img/tag.png?1.0.0') }}"/></a></td>
		  <td><a class="navbar-brand-logo" href="{{ path('homepage') }}"><img src="{{ asset('bundles/topxiaweb/img/help.png?1.0.0') }}"/></a></td>
		  <td>
		  {% if setting('site.logo') %}
            <a class="navbar-brand-logo" href="{{ path('homepage') }}"><img src="{{ asset(setting('site.logo')) }}"></a>
          {% else %}
		  	<a class="navbar-brand-logo" href="{{ path('homepage') }}"><img src="{{ asset('bundles/topxiaweb/img/logo.png?1.0.0') }}"/></a>
		  {% endif %}
		  </td>
		  
		  <td><a class="navbar-brand-logo" href="{{ path('teacher') }}"><img src="{{ asset('bundles/topxiaweb/img/shareer.png?1.0.0') }}"/></a></td>
		  <td><a class="navbar-brand-logo" href="{{ path('homepage') }}"><img src="{{ asset('bundles/topxiaweb/img/camer.png?1.0.0') }}"/></a></td>
		  <td><a class="navbar-brand-logo" href="{{ path('tag') }}"><img src="{{ asset('bundles/topxiaweb/img/tag.png?1.0.0') }}"/></a></td>
		  
		  </tr>
		  </table>
{#</div>#}


      </div>
    </div>
  </div>
</body>
</html>