{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}
<!DOCTYPE html>
{#<!--[if lt IE 6]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class=""> <!--<![endif]-->#}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} {{ setting('site.name', 'MeBUS') }} - {% if setting('site.slogan') %}{{ setting('site.slogan') }} -{% endif %} Powered by Can2DO{% endblock %}</title>
  <meta name="keywords" content="{% block keywords %}{% endblock %}" />
  <meta name="description" content="{% block description %}{% endblock %}" />
  <meta content="{{ csrf_token('site') }}" name="csrf-token" />
  {{ setting('login_bind.verify_code', '')|raw }}
  {% if setting('site.favicon') %}
  <link href="{{ asset(setting('site.favicon')) }}" rel="shortcut icon" />
  {% endif %}
  {% block stylesheets %}
    <link href="{{ asset('assets/libs/gallery2/bootstrap/3.1.1/css/bootstrap.css') }}" rel="stylesheet" />
    <link rel="stylesheet" media="screen" href="{{ asset('assets/css/common.css') }}" />
    <link rel="stylesheet" media="screen" href="{{ asset('assets/css/bootstrap-extends.css') }}" />
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/topxiaweb/css/web.css') }}" />
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/topxiaweb/css/member.css') }}" />
    {#<!--[if lt IE 8]>
      <link href="{{ asset('assets/css/oldie.css') }}" rel="stylesheet">
    <![endif]-->#}
  {% endblock %}
  {#<!--[if lt IE 9]>
    <script src="{{ asset('assets/libs/html5shiv.js') }}"></script>
  <![endif]-->

  <!--[if IE 8]>
    <script src="{{ asset('assets/libs/respond.min.js') }}"></script>
  <![endif]-->#}

  {% block head_scripts %}{% endblock %}

</head>
<body {% if bodyClass|default('') %}class="{{ bodyClass }}"{% endif %}>

{% block body %}
  <div class="navbar navbar-inverse site-navbar" id="site-navbar"  data-counter-url="{{ path('user_remind_counter') }}">
    <div class="container">
      <div class="container-gap">
	  
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% if setting('site.logo') %}
            <a class="navbar-brand-logo" href="{{ path('homepage') }}"><img src="{{ asset(setting('site.logo')) }}"></a>
          {% endif %}
		  <a class="navbar-brand" href="{{ path('search') }}"><span class="glyphicon glyphicon-search"></span></a>
		  {% if app.user %}
		  <a href="{{ path('notification') }}" class="badge-container notification-badge-container navbar-brand">
                <span class="glyphicon glyphicon-bullhorn hidden-lt-ie8"></span>
                <span class="visible-lt-ie8">通知</span>
                {% if app.user.newNotificationNum > 0 %}<span class="badge">{{ app.user.newNotificationNum }}</span>{% endif %}
		  </a>
		  <a href="{{ path('message') }}" class="badge-container message-badge-container navbar-brand">
                <span class="glyphicon glyphicon-envelope hidden-lt-ie8"></span>
                <span class="visible-lt-ie8">私信</span>
                {% if app.user.newMessageNum > 0 %}<span class="badge">{{ app.user.newMessageNum }}</span>{% endif %}
          </a>
		  <a class="navbar-brand" href="{{ path('user_show', {id:app.user.id}) }}"><i class="glyphicon glyphicon-home"></i></a>
		  {% else %}
		  <a class="navbar-brand" href="{{ path('new') }}">看看最新产品</a>
		  {% endif %}
        </div>
		
		<div class="navbar-collapse">
			{% if app.user %}
			<a href="#" class="dropdown-toggle navbar-brand dropdown hidden-lt-ie8" data-toggle="dropdown"> 微相关<b class="caret"></b></a>
                <ul class="dropdown-menu">
				  <li><a href="#"> 欢迎您：{{ app.user.userName }} </a></li>
				  <li class="divider"></li>
				  {{ render(controller('TopxiaWebBundle:Default:topNavigation')) }}
                </ul>
			<a class="navbar-brand" href="{{ path('my') }}">我的产品</a>
			<a class="navbar-brand" href="{{ path('settings') }}"><i class="glyphicon glyphicon-cog"></i></a>
			<a class="navbar-brand" href="{{ path('logout') }}"><i class="glyphicon glyphicon-off"></i></a>
			{% else %}
			<a href="#" class="dropdown-toggle navbar-brand dropdown hidden-lt-ie8" data-toggle="dropdown"> 微入口<b class="caret"></b></a>
                <ul class="dropdown-menu">
				  <li><a href="#"> 游客您好！请先注册登录 </a></li>
				  <li class="divider"></li>
				  {{ render(controller('TopxiaWebBundle:Default:topNavigation')) }}
				  <li class="divider"></li>
                  <li><a href="{{ path('login') }}">登录</a></li>
              	  <li><a href="{{ path('register') }}">注册</a></li>
                </ul>
			 <a class="navbar-brand" href="{{ path('teacher') }}">查看平台享客</a>
			{% endif %}
			</div>
		
        <div class="navbar-collapse collapse">
		  <a href="#" class="dropdown-toggle navbar-brand dropdown hidden-lt-ie8" data-toggle="dropdown"> 产品分类<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ path('login') }}">科技领域</a></li>
              	  <li><a href="{{ path('register') }}">文化领域</a></li>
				  <li><a href="{{ path('login') }}">科技领域</a></li>
              	  <li><a href="{{ path('register') }}">文化领域</a></li>
                </ul>
             <a class="navbar-brand" href="{{ path('product_explore') }}">查看更多产品</a>
        </div>
		
		{% if is_granted('ROLE_ADMIN') %}
		<div class="navbar-collapse collapse">
		  <a href="#" class="dropdown-toggle navbar-brand dropdown hidden-lt-ie8" data-toggle="dropdown"> 管理后台<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ path('admin_product') }}">产品管理</a></li>
              	  <li><a href="{{ path('admin_user') }}">用户管理</a></li>
				  <li><a href="{{ path('admin_navigation') }}">资讯管理</a></li>
				  {% if is_granted('ROLE_SUPER_ADMIN') %}
              	  <li><a href="{{ path('admin_setting_site') }}">系统设置</a></li>
				  {% endif %}
                </ul>
           <a class="navbar-brand" href="{{ path('admin_app_installed') }}">应用管理</a>
        </div>
		{% endif %}{#<!--/.navbar-collapse -->#}
		
      </div>
    </div>
  </div>

  <div id="content-container" class="container">
    {% if app.user and app.user.setup == 0 and (hideSetupHint is not defined or hideSetupHint != true) %}
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        为了帐号的安全，以及更好的使用体验，请设置您的Email地址。
        <a href="{{ path('settings_setup') }}">现在就去设置</a>
      </div>
    {% endif %}
    {% block content %}{% endblock %}
  </div>{#<!-- /container -->#}

  <div class="site-footer container clearfix">

    {{ render(controller('TopxiaWebBundle:Default:footNavigation')) }}

    <div class="text-gray" data-role="default-foot-bar">
      {% include "TopxiaWebBundle::powered-by.html.twig" %}
      {{ setting('site.analytics')|raw }}
      <div class="pull-right">{% if setting('site.copyright') %}产品内容版权均归<a href="/">{{ setting('site.copyright') }}</a>所有{% endif %}&nbsp;{% if setting('site.icp') %}<a href="http://www.can2do.com/" target="_blank">{{ setting('site.icp') }}</a>{% endif %}</div>

    </div>
  </div>

  {% block bottom %}{% endblock %}

  <div id="login-modal" class="modal" data-url="{{ path('login_ajax') }}"></div>
  <div id="modal" class="modal"></div>
{% endblock %}

{% include 'TopxiaWebBundle::script_boot.html.twig' with {script_main: asset('bundles/topxiaweb/js/app.js')} %}



</body>
</html>