{% extends 'TopxiaWebBundle:My:layout.html.twig' %}

{% block title %}我的产品 - {{ parent() }}{% endblock %}

{% set side_nav = 'my-notes' %}
{% set script_controller = 'my/notebooks' %}

{% block main %}

<div class="panel panel-default panel-col">
  <div class="panel-heading">我的留言</div>
  <div class="panel-body">
    <ul class="media-list notebook-list" id="notebook-list">
      {% for member in productMembers %}
        {% set product = products[member.productId] %}
        <div class="media">
		  {% if product.typeimg != '' %}
			<img class="pull-left media-object"  src="/attach/productpic/{{ product.typeimg }}" />
		  {% else %}
			<img class="pull-left media-object" src="{{ file_path(product.largePicture, 'product-large.png') }}">
		  {% endif %}
          
          <div class="media-body">
            <h4 class="media-heading">{{product.name}}</h4>
            <div class="notebook-metas">
              <span class="notebook-number">共 {{ member.noteNum }} 条留言</span>
            </div>
            <div class="notebook-metas">
              {% if member.noteLastUpdateTime > 0 %}
                <span class="notebook-time">最后更新 {{ member.noteLastUpdateTime | smart_time }}</span>
              {% endif %}
              <a class="pull-right notebook-go" href="{{ path('my_notebook_show', {productId: product.id }) }}">查看留言</a>
            </div>
          </div>
        </div>
      {% else %}
        <li class="empty">你还没有写过留言</li>
      {% endfor %}
    </ul>
    {{ web_macro.paginator(paginator) }} 
  </div>
</div>
{% endblock %}