{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %} 

{% if user.companyname != '' %} 
	{{ user.companyname }} 
{% elseif user.nichen != '' %}
	{{ user.nichen}}
{% elseif user.realName != '' %}
	{{ user.realName }}
{% else %} 
	神秘人物
{% endif %}

的公共主页 - {{ parent() }}{% endblock %}

{% set bodyClass = 'userpage' %}
{% set pageNav = pageNav|default(null) %}

{% set script_controller = 'user/user' %}

{% block content %}

{{ render(controller('TopxiaWebBundle:User:headerBlock', {user:user})) }}

<div class="es-row-wrap container-gap userpage-body">
  <ul class="nav nav-pills userpage-nav clearfix">
  	{% if 'ROLE_ISHARE' in user.roles %}
	    <li {% if pageNav == 'teach' %}class="active btn-success unfollow-btn" {% else %}class="btn-success unfollow-btn" {% endif %}><a href="{{ path('user_teach', {id: user.id}) }}">分享</a></li>
    {% endif %}
    <li {% if pageNav == 'learn' %}class="active btn-success unfollow-btn" {% else %}class="btn-success unfollow-btn" {% endif %}><a href="{{ path('user_learn', {id:user.id}) }}">关注</a></li>
    <li {% if pageNav == 'favorited' %}class="active btn-success unfollow-btn" {% else %}class="btn-success unfollow-btn" {% endif %}><a href="{{ path('user_favorited', {id:user.id}) }}">收藏</a></li>
    <li {% if pageNav == 'friend' %}class="active btn-success unfollow-btn" {% else %}class="btn-success unfollow-btn" {% endif %}><a href="{{ path('user_following', {id:user.id}) }}">粉丝</a></li>
  </ul>

  {% block main %}{% endblock %}

</div>

{% endblock %}