{% import "TopxiaAdminBundle::macro.html.twig" as admin_macro %}
<tr id="product-tr-{{ product.id }}">
  <td>{{ product.id }}</td>
  <td>
    <a href="{{ path('product_show', {id:product.id}) }}" target="_blank"><strong>{{ product.name }}</strong></a>
    <br>
    <span class="text-muted text-sm">分类标签：{{ category.name|default('--') }}</span>
    {% if product.tuijian %}
      {#<span class="label label-default">荐:{{ product.recommendedTime|date('Y-m-d') }} / 序号:{{ product.recommendedSeq }}</span>#}
	  <span class="label label-default">荐:序号:{{ product.recommendedSeq }}</span>
    {% endif %}
  </td>
  <td>{{ product.studentNum }}</td>
  {#<td><span class="money-text">{{ product.income }}</span></td>#}
  <td>{{ dict_text('productStatus:html', product.state) }}</td>
  <td>
    {{ admin_macro.user_link(user) }}
    <br>
    <span class="text-muted text-sm">{{ product.createdTime|date('Y-n-d H:i') }}</span>
  </td>
  <td>
    <div class="btn-group">
      <a class="btn btn-default btn-sm" href="{{ path('product_manage', {id:product.id}) }}" target="_blank">管理</a>

      <a href="#" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu pull-right">

        <li><a class="recommend-product" href="#modal" data-toggle="modal" data-url="{{ path('admin_product_recommend', {id:product.id, ref:'productList'}) }}"><span class="glyphicon glyphicon-hand-up"></span> 推荐产品</a></li>

        {% if product.tuijian %}
          <li><a class="cancel-recommend-product" href="javascript:" data-url="{{ path('admin_product_cancel_recommend', {id:product.id}) }}"><span class="glyphicon glyphicon-hand-right"></span> 取消推荐</a></li>
        {% endif %}

        <li><a href="{{ path('product_show', {id:product.id, previewAs:'guest'}) }}" target="_blank"><span class="glyphicon glyphicon-eye-open"></span> 预览：作为未关注用户</a></li>
        <li><a href="{{ path('product_show', {id:product.id, previewAs:'member'}) }}" target="_blank"><span class="glyphicon glyphicon-eye-open"></span> 预览：作为已关注用户</a></li>

        <li class="divider"></li>

        {% if product.state == '1' %}
          <li><a class="close-product" href="javascript:" data-url="{{ path('admin_product_close', {id:product.id}) }}"><span class="glyphicon glyphicon-ban-circle"></span> 审核不通过</a></li>
        {% endif %}

        {% if product.state != '1' %}
          <li><a class="publish-product" href="javascript:" data-url="{{ path('admin_product_publish', {id:product.id}) }}"><span class="glyphicon glyphicon-ok-circle"></span> 审核通过</a></li>
        {% endif %}

        <li class="divider"></li>

        <li><a class="delete-product" href="javascript:" data-url="{{ path('admin_product_delete', {id:product.id}) }}"><span class="glyphicon glyphicon-trash"></span> 删除产品</a></li>
      </ul>
    </div>
  </td>
</tr>