{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modalSize = 'large' %}

{% block title %}编辑用户信息{% endblock %}
{% block body %}

<form id="user-edit-form" class="form-horizontal" method="post" action="{{ url('admin_user_edit', {id:user.id}) }}">

  <div class="row form-group">
    <div class="col-md-2 control-label">
      <label for="realName">姓名</label>
    </div>
    <div class="col-md-7 controls">
      <input type="text" id="realName" name="realName" class="form-control" value="{{profile.realName}}" >
    </div>
  </div>

  {#<div class="row form-group">
    <div class="col-md-2 control-label">
	   <label for="profile_iam">我是</label>
	</div>
    <div class="col-md-7 controls radios">
       <div id="profile_iam">
            <input type="radio" id="profile_iam_0" name="profile[iam]" required="required" value="student" {% if profile.iam == 'student' %}checked="checked"{% endif %}>
            <label for="profile_iam_0" class="required">在校生</label>
            <input type="radio" id="profile_iam_1" name="profile[iam]" required="required" value="notStudent" {% if profile.iam == 'notStudent' %}checked="checked"{% endif %}>
         	<label for="profile_iam_1" class="required">非在校生</label>
		</div>
     </div>
  </div> #}
  
 {# <div class="row form-group form-student-group">
            <label class="col-md-2 control-label">学校</label>
            <div class="col-md-7 controls">
              <input type="text" id="profile_school" name="profile[school]" class="form-control" value="{{ profile.school|default('') }}">
              <div class="help-block" style="display:none;"></div>
            </div>
          </div>

          <div class="form-group form-forIam-group form-student-group">
            <label class="col-md-2 control-label">班级</label>
            <div class="col-md-7 controls">
              <input type="text" id="profile_class" name="profile[class]" class="form-control" value="{{ profile.class|default('') }}">
              <div class="help-block" style="display:none;"></div>
            </div>
          </div> 

          <div class="form-group form-forIam-group form-notStudent-group">
            <label class="col-md-2 control-label">公司</label>
            <div class="col-md-7 controls">
              <input type="text" id="profile_companyname" name="profile[companyname]" class="form-control" value="{{ profile.companyname|default('') }}">
              <div class="help-block" style="display:none;"></div>
            </div>
          </div>

          <div class="form-group form-forIam-group form-notStudent-group">
            <label class="col-md-2 control-label">职业</label>
            <div class="col-md-7 controls">
              <input type="text" id="profile_job" name="profile[job]" class="form-control" value="{{ profile.job|default('') }}">
              <div class="help-block" style="display:none;"></div>
            </div>
          </div>#}
		  
  <div class="row form-group">
    <div class="col-md-2 control-label">
      <label for="gender">性别</label>
    </div>
    <div class="col-md-7 controls radios">
      <div id="gender">
        <input type="radio" id="gender_0" name="gender" value="male"
        {% if profile.gender == 'male' %} checked="checked" {% endif %}>
        <label for="gender_0">男</label>

        <input type="radio" id="gender_1" name="gender" value="female"
        {% if profile.gender == 'female' %} checked="checked" {% endif %}>
        <label for="gender_1">女</label>
      </div>

    </div>
  </div>

    <div class="row form-group">
      <div class="col-md-2 control-label"> 
        <label for="job">职业</label>
      </div>
      <div class="col-md-7 controls">
        <input type="text" id="job" name="job" class="form-control" value="{{profile.job}}">
     </div>
    </div>

    <p></p>
    <div class="row form-group">
      <div class="col-md-2 control-label"> 
        <label for="title">头衔</label>
      </div>
      <div class="col-md-7 controls">
        <input type="text" id="title" name="title" class="form-control" value="{{profile.title}}">
     </div>
    </div>
    <p></p>
    <div class="row form-group">
      <div class="col-md-2 control-label"> 
        <label for="nichen">个人签名</label>
      </div>
      <div class="col-md-7 controls">
        <input type="text" id="nichen" name="nichen" class="form-control" value="{{profile.nichen}}">
     </div>
    </div>
    <p></p>
    <div class="row form-group">
      <div class="col-md-2 control-label"> 
        <label for="remark">自我介绍</label>
      </div>
      <div class="col-md-7 controls">
        <textarea id="remark" name="remark">{{profile.remark}}</textarea>
      </div>
    </div>
    <p></p>
    <div class="row form-group">
      <div class="col-md-2 control-label"> 
        <label for="site">个人主页</label>
      </div>
      <div class="col-md-7 controls">
        <input type="text" id="site" name="site" class="form-control" value="{{profile.site}}">
     </div>
    </div>
    <p></p>
  <div class="row form-group">
      <div class="col-md-2 control-label"> 
        <label for="weibo">微博</label>
      </div>
      <div class="col-md-7 controls">
        <input type="text" id="weibo" name="weibo" class="form-control" value="{{profile.weibo}}">
     </div>
    </div>
    <p></p>
    <div class="row form-group">
      <div class="col-md-2 control-label"> 
        <label for="qq">QQ</label>
      </div>
      <div class="col-md-7 controls">
        <input type="text" id="qq" name="qq" class="form-control" value="{{profile.qq}}">
     </div>
    </div>
    <p></p>
    <div class="row form-group">
      <div class="col-md-2 control-label"> 
        <label for="weixin">微信</label>
      </div>
      <div class="col-md-7 controls">
        <input type="text" id="weixin" name="weixin" class="form-control" value="{{profile.weixin}}">
     </div>
    </div> 

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">           


</form>
{% endblock %}

{% block footer %}
  <button type="submit" class="btn btn-primary pull-right" data-toggle="form-submit" data-target="#user-edit-form">保存</button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">取消</button>
  <script>app.load('user/edit-modal')</script>
{% endblock %}