{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}注册 - {{ parent() }}{% endblock %}
{% set script_controller = 'auth/register' %}

{% block content %}
<div class="row row-12">
  <div class="col-md-12">
    {% if isLoginEnabled %}
      <div class="panel panel-default panel-page">
        <div class="panel-heading"><h2>注册</h2></div>

        <form id="register-form" class="form-vertical" method="post" action="{{ path('register') }}">

          {{ web_macro.flash_messages() }}
		  
		  <div class="form-group">
            <label class="control-label required" for="register_userType">合作者类型</label>
            <div class="controls">
				<select id="register_userType" name="userTypeId" required="required" class="form-control" data-explain="选择分享者类型">
					<option value ="1">普通</option>
					<option value ="2">享客</option>
					<option value ="3">厂家</option>
					<option value ="4">商家</option>
					<option value ="5">代理</option>
					<option value ="6">其他</option>
			    	<!--{{ select_options(category_choices('usertypes'), product.name, '普通') }}-->
			    </select>
              <p class="help-block">选择分享者类型</p>
            </div>
          </div>
		  
          <div class="form-group">
            <label class="control-label required" for="register_userName">手机号码</label>
            <div class="controls">
              <input type="text" id="register_userName" name="userName" required="required" class="form-control" data-url="{{path('register_userName_check')}}" data-explain="填写手机号码作为登录帐号">
              <p class="help-block">填写手机号码作为登录帐号</p>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label required" for="register_email">邮箱地址</label>
            <div class="controls">
              <input type="text" id="register_email" name="email" required="required" class="form-control" data-url="{{path('register_email_check')}}" data-explain="填写你常用的邮箱作为登录帐号">
              <p class="help-block">填写你常用的邮箱作为登录帐号</p>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label required" for="register_password">密码</label>
            <div class="controls">
              <input type="password" id="register_password" name="password" required="required" class="form-control" data-explain="5-20位英文、数字、符号，区分大小写">
              <p class="help-block">5-20位英文、数字、符号，区分大小写</p>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label required" for="register_confirmPassword">确认密码</label>
            <div class="controls">
              <input type="password" id="register_confirmPassword" name="confirmPassword" required="required" class="form-control" data-explain="再输入一次密码">
              <p class="help-block">再输入一次密码</p>
            </div>
          </div>

          {% if setting('auth.user_terms') == 'opened' %}
          <div class="form-group">
            <div class="controls">
              <label>
                <input type="checkbox" id="user_terms" checked="checked">我已阅读并同意<a href="{{ path('user_terms') }}" target="_blank">《服务协议》</a>
              </label>
            </div>
          </div>
          {% endif %}

          <div class="form-group">
            <div class="controls">
              <button type="submit" id="register-btn" data-submiting-text="正在提交" class="btn btn-primary btn-large btn-block">注册</button>
            </div>
          </div>

          <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

        </form>

        {% include 'TopxiaWebBundle:Login:social-logins-block.html.twig' %}

      </div><!-- /panel -->
    {% else %}
        <div class="panel-heading"><h2>系统暂时关闭注册，请联系管理员</h2></div>
    {% endif %}    
  </div>
</div>
{% endblock %}