{% extends 'TopxiaWebBundle:Default:layout.html.twig' %}

{% block topbanner %}
  {% set blocks = data('Blocks',{'codes':['autumn:home_top_banner'] }) %}
  {% if blocks['autumn:home_top_banner'] %}
    <div id="autumn-carousel" class="carousel slide mbl" data-ride="carousel">
      <ol class="carousel-indicators">
          <li data-target="#autumn-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#autumn-carousel" data-slide-to="1" class=""></li>
          <li data-target="#autumn-carousel" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner">{{ blocks['autumn:home_top_banner']|raw }}</div>
      <a class="left carousel-control" href="#autumn-carousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#autumn-carousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  {% endif %}

{% endblock %}

{% block content %}
<div class="col-md-12">
      <div class="panel panel-autumn panel-autumn-default">
        <div class="panel-heading">
          <h4 class="panel-title">产品排行榜 / <small>Top10</small></h4>
        </div>
        <div class="panel-body">
          <ul class="media-list media-list-rank">
            {% for course in data('CourseRankByHit',{'count':10}) %}
              {% if course %}
                <li class="media">
                  <a href="{{ path('course_show', {id:course.id}) }}" class="pull-left"><img src="{{ file_path(course.largePicture, 'course-large.png') }}" class="media-object"></a>
                  <div class="media-body">
                    <h4 class="media-heading"><a href="{{ path('course_show', {id:course.id}) }}">{{ course.title }}</a></h4>
                    {{ course.subtitle|plain_text(60) }}
                  </div>
                </li>
              {% else %}
                <div class="empty">无产品排行记录</div>
              {% endif %}
            {% endfor %}
          </ul>
		  {% if courses|length >= 12 %}
          	<a class="btn btn-default btn-lg btn-block" href="{{ path('course_explore') }}">更多产品</a>
		  {% endif %}
        </div>
      </div>
    </div>

  </div>

{% endblock %}