{% extends 'TopxiaWebBundle:ProductManage:layout.html.twig' %}

{% block title %}产品基本信息 - {{ parent() }}{% endblock %}

{% set side_nav = 'base' %}

{% set script_controller = 'product-manage/base' %}

{#<script language="JavaScript">

var subcat = new Array();
subcat = new Array({{ select_options(category_choices('product'), product.tagidt, '请选择产品二级分类标签') }});
var subcat2 = new Array();
subcat2 = new Array({{ select_options(category_choices('product'), product.tagidt, '请选择产品二级分类标签') }});

function changeselect1(locationid)
{
 document.product-form.tagidt.length = 0;
 document.product-form.tagidt.options[0] = new Option('请选择二级分类','');
 for (i=0; i<subcat.length; i++)
 {
  if (subcat[i][0] == locationid)
  {
   document.product-form.tagidt.options[document.product-form.tagidt.length] = new Option(subcat[i][1], subcat[i][2]);
  }
 }
}

function changeselect2(locationid)
{
 document.product-form.tagids.length = 0;
 document.product-form.tagids.options[0] = new Option('请选择三级分类','');
 for (i=0; i<subcat2.length; i++)
 {
  if (subcat2[i][0] == locationid)
  {
   document.product-form.tagids.options[document.product-form.tagids.length] = new Option(subcat2[i][2], subcat2[i][0]);
  }
 }
}
</script>#}

{% 
	set script_arguments = {
	  categoryUrl: path('category_all'),
	  tagMatchUrl: path('tag_match'),
	  locationUrl: path('location_all')
	} 
%}
{% block main %}

<div class="panel panel-default panel-col">
	<div class="panel-heading">产品基本信息</div>
	<div class="panel-body">
		<form class="form-horizontal" id="product-form" method="post" name="product-form">

		  {{ web_macro.flash_messages() }}

			<div class="form-group">
				<label class="col-md-2 control-label">产品名称</label>
				<div class="col-md-8 controls">
					<input type="text" id="product_title" name="name" required="required" class="form-control" value="{{ product.name|default('') }}">
					<div class="help-block" style="display:none;"></div>
				</div>
			</div>

			<div class="form-group">
			  <label class="col-md-2 control-label">产品分类标签</label>
			  <div class="col-md-8 controls">
			    <select id="product_categoryId" name="categoryId" required="required" class="form-control width-input width-input-large">
			    	{{ select_options(category_choices('product'), product.categoryId, '请选择产品分类标签') }}
			    </select>
			  	<div class="help-block" style="display:none;"></div>
			  </div>
			</div>
			
			<div class="form-group">
			  <label class="col-md-2 control-label">产品一级分类标签</label>
			  <div class="col-md-8 controls">
			    <select id="product_tagido" name="tagido" required="required" class="form-control width-input width-input-large">
			    	{{ select_options(category_choices('product'), product.tagido, '请选择产品一级分类标签') }}
			    </select>
			  	<div class="help-block" style="display:none;"></div>
			  </div>
			</div>
			
			
			<div class="form-group">
			  <label class="col-md-2 control-label">产品二级分类标签</label>
			  <div class="col-md-8 controls">
			    <select id="product_tagidt" name="tagidt" required="required" class="form-control width-input width-input-large">
			    	{{ select_options(category_choices('product'), product.tagidt, '请选择产品二级分类标签') }}
			    </select>
			  	<div class="help-block" style="display:none;"></div>
			  </div>
			</div>
			
			<div class="form-group">
			  <label class="col-md-2 control-label">产品三级分类标签</label>
			  <div class="col-md-8 controls">
			    <select id="product_tagids" name="tagids" required="required" class="form-control width-input width-input-large">
			    	{{ select_options(category_choices('product'), product.tagids, '请选择产品三级分类标签') }}
			    </select>
			  	<div class="help-block" style="display:none;"></div>
			  </div>
			</div>
			
			{#<div class="form-group">
			  <label class="col-md-2 control-label">产品一级分类标签</label>
			  <div class="col-md-8 controls">
			    <select id="product_tagido" name="tagido" required="required" class="form-control width-input width-input-large" onChange="changeselect1(this.value)">
					{{ select_options(category1_choices('product'), product.tagido, '请选择产品一级分类标签') }}
			    </select>
			  	<div class="help-block" style="display:none;"></div>
			  </div>
			</div>
			
			<div class="form-group">
			  <label class="col-md-2 control-label">产品二级分类标签</label>
			  <div class="col-md-8 controls">
			    <select id="product_tagidt" name="tagidt" required="required" class="form-control width-input width-input-large" onChange="changeselect2(this.value)">
			    	<option>-- 请选择--</option>
			    </select>
			  	<div class="help-block" style="display:none;"></div>
			  </div>
			</div>
			
			<div class="form-group">
			  <label class="col-md-2 control-label">产品三级分类标签</label>
			  <div class="col-md-8 controls">
			    <select id="product_tagids" name="tagids" required="required" class="form-control width-input width-input-large">
			    	<option>-- 请选择--</option>
			    </select>
			  	<div class="help-block" style="display:none;"></div>
			  </div>
			</div>#}
			
			{#<div class="form-group">
			  <label class="col-md-2 control-label">产品一级分类标签</label>
			  <div class="col-md-8 controls">
			    <select id="product_tagido" name="tagido" required="required" class="form-control width-input width-input-large">
			    	{{ select_options(category1_choices('product'), product.tagido, '请选择产品一级分类标签') }}
			    </select>
			  	<div class="help-block" style="display:none;"></div>
			  </div>
			</div>
			
			
			<div class="form-group">
			  <label class="col-md-2 control-label">产品二级分类标签</label>
			  <div class="col-md-8 controls">
			    <select id="product_tagidt" name="tagidt" required="required" class="form-control width-input width-input-large">
			    	{{ select_options(category2_choices('product', '2'), product.tagidt, '请选择产品二级分类标签') }}
			    </select>
			  	<div class="help-block" style="display:none;"></div>
			  </div>
			</div>
			
			<div class="form-group">
			  <label class="col-md-2 control-label">产品三级分类标签</label>
			  <div class="col-md-8 controls">
			    <select id="product_tagids" name="tagids" required="required" class="form-control width-input width-input-large">
			    	{{ select_options(category3_choices('product', '3'), product.tagids, '请选择产品三级分类标签') }}
			    </select>
			  	<div class="help-block" style="display:none;"></div>
			  </div>
			</div>#}
			
			<div class="form-group">
				<label class="col-md-2 control-label">产品简介</label>
				<div class="col-md-8 controls">
					<textarea id="product_subtitle" name="jianjie" required="required" class="form-control">{{ product.jianjie|default('') }}</textarea>
					<div class="help-block" style="display:none;"></div>
				</div>
			</div>

			<div class="form-group">
			  <label class="col-md-2 control-label">产品热词</label>
			  <div class="col-md-8 controls">
			  	<input type="text" id="product_tags" name="tags" required="required" class="width-full select2-offscreen" tabindex="-1" value="{{ tags|join(',') }}" data-explain="将会应用于按产品热词搜索产品、相关产品的提取等">
			  	<div class="help-block">将会应用于按产品热词搜索产品、相关产品的提取等</div>
			  </div>
			</div>

			<div class="form-group">
			  <label class="col-md-2 control-label">会员有效期</label>
			  <div class="col-md-8 controls">
			    <input type="text" id="product_expiryDay" name="expiryDay" required="required" class="form-control width-input width-input-large" value="{{ product.expiryDay }}" data-widget-cid="widget-3" data-explain="设置该值后，会员只能在有效期内关注和了解产品、发表话题、提问、留言等，超过有效期后会员只能浏览产品及讨论区。该值为0，则不做此限制。"> 天
			    <div class="help-block">设置该值后，会员只能在有效期内关注了解产品、发表话题、提问、留言等，超过有效期后会员只能浏览产品及讨论区。该值为0，则不做此限制。</div>
			  </div>
			</div>

			<div class="form-group">
				<label class="col-md-2 control-label">更新状态</label>
				<div class="col-md-8 controls radios">
					{{ radios('serializeMode', {'none':'编辑中', 'serialize':'更新好', 'finished':'不更新'}, product.serializeMode|default('none') ) }}
				</div>
			</div>


			<div class="form-group">
				<label class="col-md-2 control-label">显示关注人数</label>
				<div class="col-md-8 controls radios">
					{{ radios('showStudentNumType', {'opened':'开启', 'closed':'关闭'}, product.showStudentNumType ) }}
				</div>
			</div>

		  <div class="form-group">
		    <div class="col-md-offset-2 col-md-8 controls">
		    	<button class="btn btn-fat btn-primary" id="product-create-btn" type="submit">保存</button>
		    </div>
		  </div>

		  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

		</form>
	</div>
</div>

{% endblock %}



