{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}产品管理 - {{ parent() }}{% endblock %}



{% block content %}

  {{ render(controller('TopxiaWebBundle:Product:header', {product:product, manage: true})) }}
  
<div class="panel panel-default">
	<div class="panel-heading">
		<div>
		<!--<div class="pull-right">-->

			<div class="btn-group">
			  <button type="button" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown">
			  <i class="glyphicon glyphicon-th-large"></i> 产品信息 <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
			    <li>
			      <a href="{{ path('product_manage_base', {id:product.id}) }}"><i class="glyphicon glyphicon-pencil"></i> 基本信息</a>
			    </li>
			    <li>
			      <a href="{{ path('product_manage_detail', {id:product.id}) }}"><i class="glyphicon glyphicon-pencil"></i> 详细信息</a>
			    </li>
				<li>
			      <a href="{{ path('product_manage_picture', {id:product.id}) }}"><i class="glyphicon glyphicon-pencil"></i> 产品图片</a>
			    </li>
				<li>
			      <a href="{{ path('product_manage_lesson', {id:product.id}) }}"><i class="glyphicon glyphicon-pencil"></i> 补充说明</a>
			    </li>
				<li>
			      <a href="{{ path('product_manage_files', {id:product.id}) }}"><i class="glyphicon glyphicon-pencil"></i> 附件管理</a>
			    </li>
			  </ul>
			</div>
			
			<div class="btn-group">
			  <button type="button" class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown">
			  <i class="glyphicon glyphicon-th-large"></i> 产品设置 <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
			    <li>
			      <a href="{{ path('product_manage_price', {id:product.id}) }}"><i class="glyphicon glyphicon-pencil"></i> 价格设置</a>
			    </li>
			    <li>
			      <a href="{{ path('product_manage_teachers', {id:product.id}) }}"><i class="glyphicon glyphicon-pencil"></i> 享客设置</a>
			    </li>
				<li>
			      <a href="{{ path('product_manage_students', {id:product.id}) }}"><i class="glyphicon glyphicon-pencil"></i> 买家管理</a>
			    </li>
			  </ul>
			</div>
			
			<div class="btn-group">
			  <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown">
			  <i class="glyphicon glyphicon-th-large"></i> 问卷题库 <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu pull-right" role="menu">
			    <li>
			      <a href="{{ path('product_manage_question', {productId:product.id}) }}"><i class="glyphicon glyphicon-pencil"></i> 问卷题目</a>
			    </li>
			    <li>
			      <a href="{{ path('product_manage_question_category', {productId:product.id}) }}"><i class="glyphicon glyphicon-pencil"></i> 问卷类别</a>
			    </li>
				<li>
			      <a href="{{ path('product_manage_testpaper', {productId:product.id}) }}"><i class="glyphicon glyphicon-pencil"></i> 问卷管理</a>
			    </li>
				<li>
			      <a href="{{ path('product_manage_test_check', {id:product.id, status:'reviewing'}) }}"><i class="glyphicon glyphicon-pencil"></i> 问卷批阅</a>
			    </li>
			  </ul>
			</div>
			
		</div>
	</div>
</div>

<div class="row">

  <div class="col-md-12">
    {% block main %}{% endblock %}
  </div>
</div>
{% endblock %}